In [1]:
def greet():
    print("hello , hi")

In [2]:
greet()

hello , hi

In [3]:
# no arg no return 
# with arg no return
# with arg with return
# no arg with return

In [6]:
def add():
    a = 8
    b = 60
    c = a+b
    print(c)
    
add()

68

In [8]:
def add(a,b):
    c = a+b
    print(c)
    
add(1,2)

3

In [12]:
 #with arg with return
def add(a,b):
    c = a+b
    return (c)
    print("hello bhai")
    

    
add(9,4)

13

In [13]:
print("op code hai bhai")

op code hai bhai

In [14]:
return("hello colg wallo!!")

SyntaxError: 'return' outside function (2853661835.py, line 1)

In [15]:
def add():
    a = 9
    b = 8
    c = a+b
    return c
add()

17

In [22]:
def add(x=3,y):
    z = x+y
    return z

add(3)

SyntaxError: non-default argument follows default argument (588542967.py, line 1)

In [19]:
add(9,6)

15

In [21]:
add(7,4)

11

In [23]:
add(4,8)

12

# OOPS

In [28]:
class std:
    name = 'asd',
    age = 34,
    marks = 89
    print(name,age,marks)
    
std()

('asd',) (34,) 89

In [25]:
deeksha

NameError: name 'deeksha' is not defined

In [32]:
class add:
    def fun(self,a,b):
        c = a+b
        return c
    
a = add()
a.fun(1,20)

21

In [33]:
# constructor ---- > 

class std:
    def __init__(self,name,age,marks):
        self.name = name
        self.age = age
        self.marks = marks
        
s = std('A',23,90)

In [34]:
s.name

'A'

In [35]:
s.age

23

In [36]:
s.marks

90

In [ ]:
#wap to find the avg marks of a student with the help of 
# oops & function.